<div class="content">
  <h1>An About page. How original!</h1>
  <p>I built this using a Full Stack to show people I can. I think we can all agree, for this site, that is rather over the top. Here is the stack I used:</p>
</div>
<div class="stack">
  <a href="http://handlebarsjs.com/" target="blank">
    <figure>
      <img src="images/handlebars.png" alt="Handlebars"></img>
      <figcaption>Handlebars JS used for quick easy page templating.</figcaption>
    </figure>
  </a>

  <a href="http://expressjs.com/" target="blank">
    <figure>
      <img src="images/expresslogo.png" alt="Express JS"></img>
      <figcaption>Express JS, used mostly for routing.</figcaption>
    </figure>
  </a>

  <a href="http://nodejs.org/" target="blank">
    <figure>
      <img src="images/node1.png" alt="Node JS"></img>
      <figcaption>Node JS for it's ability to write vanilla server side JavaScript.</figcaption>
    </figure>
  </a>

  <a href="https://www.npmjs.com/" target="blank">
    <figure>
      <img src="images/npm-transparent.png" alt="NPM"></img>
      <figcaption>Node Package Manager used for exactly that. Managing packages.</figcaption>
    </figure>
  </a>

  <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="blank">
    <figure>
      <img src="images/logo-css3.png" alt="CSS3"></img>
      <figcaption>Styling with CSS3 with Flexbox for positioning.</figcaption>
    </figure>
  </a>

  <a href="https://github.com/redhendery/a_website" target="blank">
    <figure>
      <img src="images/GitHub-Mark.png" alt="Github"></img>
      <figcaption>View the code for this page on Github here.</figcaption>
    </figure>
  </a>

</div>
