<div class="content">
  <p>Contact Red to have a have a friendly conversation or to offer him a job.</br>
  </br>This page is evidence of my ability to make a Contact form. You can email me or use one of the contact icons.</p>
</div>
<div class="wrapper">
  <div id="main" style="padding:50px 0 0 0;">

    <form id="contact-form" action="/" method="post">
      <div>
        <label>
          <span>Name: </span>
          <input placeholder="Please enter your name" type="text" tabindex="1" required autofocus>
        </label>
      </div>
      <div>
        <label>
          <span>Email: </span>
          <input placeholder="Please enter your email address" type="text" tabindex="2" required>
        </label>
      </div>
      <div>
        <span>Meesage: </span>
        <textarea placeholder="Include all the details you can" tabindex="3" required></textarea>
      </div>
      <div>
        <button name="submit" type="submit" id="contact-submit">Send Email</button>
      </div>
    </form>

  </div>
</div>
