<div class="content">
  <h1>I can make a Contact page!</h1>
</div>
<div class="contact">
  <img class="profile" src="images/profile.jpeg" alt="Red Hendery's beautiful face"></img>
  <div class="contact-right">
    <h3>Want to chat? Click the icons below to send an email or call.</h3>
    <div class="icons">
      <a href="mailto:redhendery@gmail.com?subject=Mail%20from%20Our%20A%20Website">
        <img class="email" src="images/email.jpg"></img>
      </a>
      <a href="tel:64-21-067-8084">
        <img class="phone" src="images/phone.jpg"></img>
      </a>
    </div>
  </div>
</div>
