<div class="content">
  <p>Contact Red to have a have a friendly conversation or to offer him a job.</br>
  Here is a contact form I made. You can email me or use one of the contact icons.</p>
</div>
