<div class="content">
  <h1>I can make a Contact page!</h1>
</div>
<div class="contact">
  <img class="profile" src="images/profile.jpeg" alt="Red Hendery's beautiful face"></img>
  <div class="contact-right">
    <p>Get in touch to have a have a friendly conversation or to talk about work.</p>
  </div>
</div>
