<div class="content">
  <h1>The story of {{title}}</h1>
  <div class="story">
    <p>
      I made this wesite to demonstrate my ability to work with a full stack.
      Realistically a full stack to build a simple website like this is over the top.
      But as with any build process, I learnt a lot. The only requirements I set myself for the build were
      to have a fully responsive site built mobile first and to use a templating engine.</br>
    </br>
      I started building this while on holiday in San Fransisco. As I was on holiday,
      I was moving around a lot and doing tourist things. Upon returning to New Zealand, I had a 70th birthday party
      and work at the IIHF U20 Division III World Championship Ice Hockey tournament that was held in Dunedin.
      At the U20's I did a range of things from filming games, commentating, clipping out highlights, directing shoots and
      just general social media promotion. I am proud to say during that week over 35,000 people watched the games we
      broadcast live and we had close to 100,000 views of highlights on social media. But I'm getting off track here...</br>
    </br>
      As with any build I faced challenges. I had a few issues getting the favicon to display,
      but then I thought, hey why don't you restart your server. Boom! Result. The majority of the issues came
      from dealing with CSS. For someone like myself who hasn't written a lot of it, the below .GIF is a good
      representation of how it can feel.
    </p>
    <img src="images/CSS.gif" alt="CSS"></img>
    <p>
      The biggest issue I had was with the nav-bar and getting the column widths to be the right sizes.
    </p>
  </div>
</div>
