<div class="content">
  <h1>The story of {{title}}</h1>
  <div class="story">
    <p>
      I made this wesite to demonstrate my ability to work with a full stack.
      Realistically a full stack to build a simple website like this is over the top.
      But as with any build process, I learnt a lot.
    </p>
    <p>
      
    </p>
  </div>
</div>
