<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="navigation">
      <div class="col-0">
        <a href="/"><h3>Red Hendery Web Developer</h3></a>
      </div>
      <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </header>
      {{{body}}}
    <footer class="footer">
      &copy; forever Red Hendery.
    </footer>
  </body>
</html>
