* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font: 16px Sans-Serif;
}

.profile {
  border-radius: 50%;
  max-width: 10%;
  max-height: 10%;
  padding: 10px 0 10px 0;
}

.content {
  flex: 1;
  padding: 10px;
}

.footer {
  padding: 20px;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

footer {
  text-align: center;
  background: #42A5F5;
  color: white;
}

.navigation {
  list-style: none;
  margin: 0;
  background: #42A5F5;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.col-0 {
  flex: 1;
  /*max-width: 20%;*/
}

.col-1 {
  flex: 2;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding-right: 50px;
  color: white;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.stack {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

figcaption {
  margin-top: 10px;
}
