* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font: 16px Sans-Serif;
}

.content {
  padding-left: 10px;
}

.footer {
  padding: 20px;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  background: #42A5F5;
  color: white;
}

.navigation {
  list-style: none;
  margin: 0;
  background: #42A5F5;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.col-0 {
  padding-left: 20px;
  flex: 1;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding-right: 50px;
  color: white;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.stack {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

figcaption {
  margin-top: 10px;
}

.story-1 {
  padding-left: 20px;
}

.story-2 {
  display: flex;
  padding-left: 20px;
}

.gif {
  padding: 17px 25px 99px 10px;
}

.contact {
  display: flex;
  max-width: 100%;
}

.contact-right h3 {
  text-align: center;
  padding-top: 50px;
  font-weight: normal;
}

.profile {
  padding: 0 30px 40px 20px;
}

.icons {
  padding: 60px 0 0 100px;
}

.phone {
  padding: 0 0 25px 80px;
}
